<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IASD_JardimFinotti.Properties.Settings.IASDJFConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\IASDJF.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IASD_JardimFinotti.Properties.Settings.C__DB_IASDJF_MDFConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=C:\DB\IASDJF.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>